.navbar{

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    padding: 0.5em 0;
    
}
h2{
    color:red ;
    padding-bottom:1em;
    font-style: italic;
    font-weight: bold;

}


h5{
    color:black;
    font-size: 2em;
    padding-bottom:1em;
    font-style: italic;
    font-weight: bold;
}

.footer{
    
    padding: 0.3em 0;
    text-align: center;
    width: 100%;
  
}

#productos{
    min-height: 100vh;
    max-height: 100%;
}
#contacto{
    min-height: 100vh;
    max-height: 100%;
}

.login-container {
    padding: 1em;

    
  
    margin-top: 1em;
    width: 95%; 
    margin: 1em auto; 
  
}

.card:hover {
    transform: scale(1.05); /* Ligeramente más grande */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Sombra más definida */
}

.product-rating i {
    color: gold; /* Color dorado para las estrellas */
}

.product-price {
    color: rgb(128, 0, 0); /* Precio en verde para destacar */
    font-weight: bold;
}

@media (min-width: 992px) { /* Pantallas grandes*/
    #carouselExampleCaptions .carousel-item img {
        max-height: 768px; 
        width: auto;
        margin: auto; 
    }
    
    }

    p {
        font-size: 2em; /* Puedes ajustar este valor según lo desees */
        color:black;
    }

    .empavonada {
        opacity: 0.6; /* Puedes ajustar este valor según lo desees */
    }


